<div class="home-collections">
    <div class="home-collections__container">
        {% for collection in collections %}
            <a href="{{ collection.url }}" class="home-collections__card">
                <p class="home-collections__card--title" href="{{ collection.url }}">{{ collection.title }}</p>
            </a>
        {% endfor %}
    </div>
</div>