<div class="home-highlights">
    <div class="home-highlights__title">
      <h2>{{ section.settings.section__title }}</h2>
    </div>
    <div class="home-highlights__grid">
        {% for product in collections.all.products limit: 6 %}
        {% render 'card', url: product.url, imagen: product.featured_image, title: product.title %}
        {% endfor %}
    </div>
    <div class="home-highlights__more">
      <a href="{{ section.settings.section__link }}">{{ section.settings.section__text }}</a>
    </div>
</div>

{% schema %}
{
  "name": "home highlights",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section__title",
      "label": "Title",
      "default": "Blog"
    },
    {
      "type": "text",
      "id": "section__text",
      "label": "Ver mas",
      "default": "Ver mas"
    },
    {
      "type": "url",
      "id": "section__link",
      "label": "Ver mas link"
    }
  ]
}
{% endschema %}