<div class="home-brands">
  <div class="home-brands__title">
    <h2>{{ section.settings.section_title }}</h2>
  </div>
  <div  class="home-brands__grid">
    {% for block in section.blocks %}
      <a>
        <img src="{{ block.settings.brand__image | img_url: 'master' }}" />
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Home brands",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section__title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand__image",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}